body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background */
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  div {
    flex: 1;
  }